<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUTRC APP | Home</title>

    <style>
        body {
            background-color: black;
        }
        
        .page {
            display: flex;
        }

        .left-nav-section {
            width: 60px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            padding-top: 40px;
        }

        .icon-btns {
            border: none;
        }

        .icon-imgs {
            width: 100%;
        }

        .right-content-section {
            flex: 8;
            display: flex;
            flex-direction: column;
            padding: 15px;
            color: rgb(252, 237, 218);
        }

        .trainings-section {
            display: flex;
            flex-direction: column;
            color: bisque;
            justify-content: center;
            padding: 10px;
        }

        .welcome-msg {
            text-align:center;
            margin-bottom: 20px;
        }

        h2 {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px;
            border-style: solid;
            border-color: beige;
            padding: 5px;
        }

        .hp-training {
            display: flex;
            flex-direction: column;
        }

        .training-info {
            margin-left: 10px;
        }

    </style>
</head>
<body>
    
    <div class="page">
        <div class="left-nav-section">
            <a 
                class="icon-btns"
                href="/"
            >
                <img 
                    class="icon-imgs"
                    src="/website images/mb_logo.png" 
                    alt="MegaBytten Logo"
                >
            </a>

            <a 
                class="icon-btns"
                href="./home.ejs"
            >
                <img 
                    class="icon-imgs"
                    src="/website images/eutrc app/icons/home_icon.png" 
                    alt="Home Icon"
                >
            </a>
            
        </div>
        <!-- This right content section will be what changes on button click -->
        <div class="right-content-section">
            <h1 style="text-align:center ;">
                EUTRC APP Home Page
            </h1>

            <text class="welcome-msg">Welcome back <%= name %></text>

            <div class="trainings-section">
                <h2>Upcoming EUTRC Trainings</h2>

                <div class="hp-training">
                    <h3>High Performance (HP)</h3>
                    <text>
                        Date: <%= hpTraining[date_day] %>/<%= hpTraining[date_month] %>//<%= hpTraining[date_year] %>
                        Time: <%= hpTraining[time] %>
                        Location: <%= hpTraining[location] %> 
                        Drills: <%= hpTraining[drills] %>
                    </text>
                </div>

                <div class="dv-training">
                    <h3>Development (DV)</h3>
                    <text>
                        Date: <%= dvTraining[date_day] %>/<%= dvTraining[date_month] %>//<%= dvTraining[date_year] %>
                        Time: <%= dvTraining[time] %>
                        Location: <%= dvTraining[location] %> 
                        Drills: <%= dvTraining[drills] %>
                    </text>
                </div>

                <div class="cb-training">
                    <h3>Club (CB)</h3>
                    <text>
                        Date: <%= cbTraining[date_day] %>/<%= cbTraining[date_month] %>//<%= cbTraining[date_year] %>
                        Time: <%= cbTraining[time] %>
                        Location: <%= cbTraining[location] %> 
                        Drills: <%= cbTraining[drills] %>
                    </text>
                </div>

                
                
                

            </div>
        </div>
    </div>

</body>
</html>