<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUTRC APP | Home</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <style>
        body {
            background-color: rgb(25,25,25);
        }
        
        .page {
            display: flex;
        }

        .left-nav-section {
            width: 80px;
            padding: 10px;
            /* padding-left: 10px; */
            padding-right: 20px;
            display: flex;
            flex-direction: column;
            row-gap: 30px;
            padding-top: 40px;
            border-left: 0px;
            border-top: 0px;
            border-right: 1px;
            border-bottom: 0px;
            border-style: solid;
            border-color: black;
        }

        .icon-btns {
            border: none;
        }

        .icon-imgs {
            width: 100%;
            cursor: pointer;
        }

        .right-content-section {
            flex: 8;
            display: flex;
            flex-direction: column;
            padding: 15px;
            padding-left: 40px;
        }

        .right-content {
            flex: 8;
            display: none;
            flex-direction: column;
            color: rgb(252, 237, 218);
        }

        .trainings-section {
            display: flex;
            flex-direction: column;
            color: bisque;
            justify-content: center;
            padding: 10px;
        }

        .welcome-msg {
            text-align:center;
            margin-bottom: 20px;
        }

        h2 {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px;
            border-style: solid;
            border-color: beige;
            padding: 5px;
            margin-bottom: 10px;
        }

        .hp-training {
            display: flex;
            flex-direction: column;
        }

        .training-info {
            margin-left: 10px;
            display: flex;
            flex-direction: column;
            row-gap: 10px;
            margin-bottom: 30px;
        }

        /* Exclusively calendar stuff */
        .calendar-wrapper {
            display: flex;
            flex-direction: column;
        }

        .title-section{
            display: flex;
            justify-content:space-evenly;
            align-items: center;
            flex-direction: row;
            padding: 10px;
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-bottom: 1px;
            border-style: solid;
            border-color: antiquewhite;
            font-size: 50px;
        }

        .month-buttons {
            font-size: 50px;
            background-color: transparent;
        }

        .weekday-labels-container {
            display: flex;
            flex-direction: row;
        }

        .weekday-labels {
            text-align: center;
            flex: 1;
            padding: 5px;
            border-top: 1px;
            border-left: 1px;
            border-right: 1px;
            border-bottom: 1px;
            border-style: solid;
            border-color: antiquewhite;
        }

        .cells-container {
            display: grid; 
            grid-template-columns: repeat(7, 1fr);
            text-align: center;
        }

        .cells {
            margin-top: 10px;
            margin-bottom: 10px;
            padding: 5px;
            min-height: 35px;
        }

        .cell-date-day {
            font-size:larger;
        }

        .cell-training-info {
            font-size:medium;
        }

    </style>
</head>
<body>
    
    <div class="page">
        <div class="left-nav-section">
            <a 
                class="icon-btns"
                href="/"
                target="_blank"
            >
                <img 
                    class="icon-imgs"
                    src="/website images/mb_logo.png" 
                    alt="MegaBytten Logo"
                >
            </a>

        
            <img 
                class="icon-imgs"
                onclick="showHome()"
                src="/website images/eutrc app/icons/home_icon.png" 
                alt="Home Icon"
            >

            <img 
                class="icon-imgs"
                onclick="showEvents()"
                src="/website images/eutrc app/icons/events_icon.png" 
                alt="Events Icon"
            >
            
        </div>
        <!-- This right content section will be what changes on button click -->
        <div class="right-content-section">

            <!-- This div holds all the page information for the HOME page -->
            <div class="right-content" name="homePage" id="homePage" style="display:flex;"> 
                <h1 style="text-align:center ;">
                    EUTRC Home
                </h1>
    
                <text class="welcome-msg">Welcome back <%=userInfo['name']%></text>
    
                <div class="trainings-section">
                    <h2>Upcoming EUTRC Trainings</h2>
    
                    <div class="hp-training">
                        <h3>High Performance (HP)</h3>
                        <% if (hpTraining['date_day'] != 'none') { %>
                            <div class="training-info">
                                <text>Date: <%= hpTraining['date_day'] %>/<%= hpTraining['date_month'] %>/<%= hpTraining['date_year'] %></text>
                                <text>Time: <%= hpTraining['time'] %></text>
                                <text>Location: <%= hpTraining['location'] %></text>
                                <text>Drills: <%= hpTraining['drills'] %></text>
                            </div>
                        <% } else { %> 
                            <p style="margin-left: 10px;margin-bottom: 20px;">There is no High Performance training within the next week.</p>
                        <% } %> 
                    </div>
    
                    <div class="dv-training">
                        <h3>Development (DV)</h3>
                        <% if (dvTraining['date_day'] != 'none') { %>
                            <div class="training-info">
                                <text>Date: <%= dvTraining['date_day'] %>/<%= dvTraining['date_month'] %>//<%= dvTraining['date_year'] %></text>
                                <text>Time: <%= dvTraining['time'] %></text>
                                <text>Location: <%= dvTraining['location'] %></text>
                                <text>Drills: <%= dvTraining['drills'] %></text>
                            </div>
                        <% } else { %> 
                            <p style="margin-left: 10px;margin-bottom: 20px;">There is no Development training within the next week.</p>
                        <% } %> 
                    </div>
    
                    <div class="cb-training">
                        <h3>Club (CB)</h3>
                        <% if (cbTraining['date_day'] != 'none') { %>
                            <div class="training-info">
                                <text>Date: <%= cbTraining['date_day'] %>/<%= cbTraining['date_month'] %>//<%= cbTraining['date_year'] %></text>
                                <text>Time: <%= cbTraining['time'] %></text>
                                <text>Location: <%= cbTraining['location'] %> </text>
                                <text>Drills: <%= cbTraining['drills'] %></text>
                            </div>
                        <% } else { %> 
                            <p style="margin-left: 10px;margin-bottom: 20px;">There is no Club training within the next week.</p>
                        <% } %> 
                    </div>
                </div>
            </div>

            <!-- This div holds all the page information for the EVENTS page -->
            <div class="right-content" name="eventsPage" id="eventsPage"> 
                <h1 style="text-align:center ;">
                    EUTRC Events
                </h1>

                <!-- This is the calendar! -->
                <div class="calendar-wrapper">
                    <div class="title-section">
                        <button onclick="lastMonth()" class="month-buttons">
                            &#8592
                        </button>
                        <h3 id="month">
                            MONTH
                        </h3>
                        <button onclick="nextMonth()" class="month-buttons">
                            &#8594
                        </button>
                    </div>

                    <div class="weekday-labels-container">
                        <text class="weekday-labels">Monday</text>
                        <text class="weekday-labels">Tuesday</text>
                        <text class="weekday-labels">Wednesday</text>
                        <text class="weekday-labels">Thursday</text>
                        <text class="weekday-labels">Friday</text>
                        <text class="weekday-labels">Saturday</text>
                        <text class="weekday-labels">Sunday</text>
                    </div>

                    <div class="cells-container">
                        <% for (x=0; x < 42; x++) { %> 
                            <div class="cells" id="cell<%=x+1%>" name="cell<%=x+1%>">
                                <span class="cell-date-day" id="cell-date-<%=x+1%>" name="cell-date-<%=x+1%>">
                                    Cell<%=x+1%>
                                </span>
                                <span class="cell-training-info" id="cell-training-<%=x+1%>" name="cell-training-<%=x+1%>">

                                </span>
                            </div>
                            <!-- <text class="cells" id="cell<%=x+1%>" name="cell<%=x+1%>">Cell<%=x+1%></text> -->
                        <% } %> 

                    </div>

                    <script>
                        selectedDate = new Date()
                        calendarInit(selectedDate)

                        function nextMonth(){
                            selectedDate = new Date(selectedDate.getFullYear(), selectedDate.getMonth()+1, 1);
                            calendarInit(selectedDate)
                        }

                        function lastMonth(){
                            selectedDate = new Date(selectedDate.getFullYear(), selectedDate.getMonth()-1, 1);
                            calendarInit(selectedDate)
                        }

                        function calendarInit(date) {
                            //these lines set the H3 text as Month Year on the top of the calendar
                            var monthName = new Intl.DateTimeFormat("en-US", { month: "long" }).format;
                            var longName = monthName(date);
                            var h3 = document.getElementById('month')
                            h3.textContent = longName + " " + date.getFullYear();

                            //these obtains the first day of the month
                            const firstDayCurrentMonth = new Date(date.getFullYear(),  date.getMonth(), 1).getDay();
                            let x = getFirstDayInt(firstDayCurrentMonth)
                            
                            // this hides the cells up until the first date
                            for (y=1; y < x; y++){
                                let cell = document.getElementById('cell' + y)
                                cell.style.visibility = 'hidden'
                            }

                            // this sets all cells from the starting date until the last day of the month as visible
                            var lastDayOfMonth = new Date(date.getFullYear(), date.getMonth()+1, 0).getDate();
                            for (var day = 1; day <=lastDayOfMonth; day++){
                                let cell = document.getElementById('cell' + x)
                                cell.style.visibility = 'visible'
                                
                                // sets the textContent as the day number
                                let cellHeader = document.getElementById('cell-date-' + x)
                                cellHeader.textContent = day
                                x++;
                            }

                            for (lastDayOfMonth; lastDayOfMonth <= 46; lastDayOfMonth++){
                                let cell = document.getElementById('cell' + x)
                                cell.style.visibility = 'hidden'
                                x++
                            }
                        }

                        function getFirstDayInt(firstDay){
                            switch (firstDay) {
                                case 0:
                                    //sunday
                                    return 7
                                    break;
                                case 1:
                                    //monday
                                    return 1
                                    break;
                                case 2:
                                    //tuesday
                                    return 2
                                    break;
                                case 3:
                                    //wednesday
                                    return 3
                                    break;
                                case 4:
                                    //thursday
                                    return 4
                                    break;
                                case 5:
                                    //friday
                                    return 5
                                    break;
                                case 6:
                                    //saturday
                                    return 6
                                    break;
                                default:
                                    break;
                            }
                        }

                        function loadTrainings(trainingArrayJson, date){
                            trainingArrayJson.forEach(training => {
                                const firstDayCurrentMonth = new Date(date.getFullYear(),  date.getMonth(), 1).getDay();
                                var dateInt = Number(training['date_day'])  + (getFirstDayInt(firstDayCurrentMonth)-1) //THEYRE STRINGS
                                var trainingDayCell = document.getElementById('cell-training-' + dateInt)
                                trainingDayCell.innerHTML = trainingDayCell.innerHTML + "<br>" + training['team']
                            });

                        }
                        

                    </script>

                </div>

            </div>
            
        </div>
    </div>

    <script>
        var trainingArrayJson = null;

        function showHome(){
            let homePageObj = document.getElementById('homePage')
            homePageObj.style.display = 'flex'

            let eventsPageObj = document.getElementById('eventsPage')
            eventsPageObj.style.display = 'none'
        }

        function showEvents(){
            let homePageObj = document.getElementById('homePage')
            homePageObj.style.display = 'none'

            let eventsPageObj = document.getElementById('eventsPage')
            eventsPageObj.style.display = 'flex'

            const today = new Date();
            const month = today.toLocaleString('default', { month: 'long' });
            var year = today.getFullYear();
            $.ajax({
                url: 'http://megabytten.org/eutrcapp/trainings.json',
                method: 'GET',
                headers: {
                    "request": "calendar",
                    month,
                    year
                },
                success: function (response) {
                    console.log('Successfully obtained training info. Loading it into calendar.');
                    loadTrainings(response, today)
                }
            })
        }

    </script>

</body>
</html>