<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EUTRC APP | Home</title>

    <style>
        body {
            background-color: black;
            padding: 20px;
        }

        .title-section {
            display: flex;
            justify-content: center;
            color: rgb(216, 216, 205);
            flex-direction: column;
        }

        h2 {
            color: bisque;
        }
        
        p {
            color: rgb(184, 168, 148);
        }

        .info-section {
            display: flex;
            justify-content: center;
            color:  rgb(184, 168, 148);
            flex-direction: column;
        }

        .highlighted-warning {
            color: rgb(255, 79, 79);
        }

        .check-code-section,
        .action-btns-section {
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            column-gap: 50px;
        }

        .check-code-section {
            display:none;
        }

        .action-btns {
            width: 200px;
            height: 50px;
            font-size: larger;
            font-weight: 800;
            background-color: bisque;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <div class="title-section"> 
        <h1 style="text-align:center ;">
            EUTRC APP Verification
        </h1>
    </div>

    <div class="info-section">
        <h2 style="text-align:center;" id="header">
            <%= name %>!
            Your email has not yet been 
            <span class="highlighted-warning">
                verified.
            </span>
        </h2>
        
    </div>

    <div class="action-btns-section" id="action-btns-section">
        <p>
            If you have been sent a verification email before, please check 
            your email and spam folder for your verification code
        </p>
        <form 
        action="http://megabytten.org/eutrcapp/verfbot"
        method="post"
        >
            <input type="hidden" id="email" name="email" value="<%= email %>">
            <input type="hidden" id="password" name="password" value="<%= password %>">
            <input class="action-btns" type="submit" value="Send Code">
        </form>
        <button class="action-btns" onclick="enterCode()">
            Enter Code
        </button>
    </div>

    <div class="check-code-section" id="enter-code-section">
        <p>
            Verification email sent. Please enter the verif code below!
        </p>
        <form 
        action="http://megabytten.org/eutrcapp/verify"
        method="post"
        >
            <input type="hidden" id="email" name="email" value="<%= email %>">
            <input type="hidden" id="password" name="password" value="<%= password %>">
            <input type="number" maxlength="10" name="verifCode" id="verifCode" placeholder="code">
            <input type="submit" value="Verify">
        </form>
    </div> 
    

    <script>
        let statusCode = '<%=status%>'
        console.log('HELLO!');
        console.log('status code: ' + statusCode);
        if (statusCode == 0) {
            //native state, just freshly joined the page
        } else if (statusCode == 1) {
            //redirected after submitting form, display entercode option
            enterCode()
        } else if (statusCode == 2) {
            //redirected after submitting form, incorrect verif code
            enterCode()
            let header = document.getElementById('header')
            header.textContent = '<%name%>' + ', Incorrect verificationc code. Please try again.'
        }

        function enterCode(){
            let btnsSection = document.getElementById("action-btns-section")
            btnsSection.style.display = "none"

            let enterSection = document.getElementById("enter-code-section")
            enterSection.style.display = "flex"
        }
    </script>
    
</body>
</html>